﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RS-REPORT | @ViewBag.Title</title>
    <link rel="icon" href="https://www.tvsi.com.vn/images/favicon.png" />
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/vendor/animateCss/animate.css" rel="stylesheet" />
    <link href="~/Assets/vendor/metisMenu/custom.metisMenu.css" rel="stylesheet" />
    <link href="~/Assets/vendor/pace/pace-theme-minimal.css" rel="stylesheet" />
    <link href="~/Assets/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/css/app.css" rel="stylesheet" />
    <link href="~/Assets/vendor/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Assets/css/animate.css" rel="stylesheet">
    <link href="~/Assets/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="~/Assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Assets/css/plugins/jsTree/style.min.css" rel="stylesheet">
    
    
        <link href="~/Assets/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
        <link href="~/Assets/css/animate.css" rel="stylesheet">
        <link href="~/Assets/css/plugins/dropzone/basic.css" rel="stylesheet">
        <link href="~/Assets/css/plugins/dropzone/dropzone.css" rel="stylesheet">
        <link href="~/Assets/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
        <link href="~/Assets/css/plugins/codemirror/codemirror.css" rel="stylesheet">

    @*add style css*@
    <!-- Toastr style -->
    <link href="~/Assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="~/Assets/css/animate.css" rel="stylesheet">
    <link href="~/Assets/css/style.css" rel="stylesheet">
    @*
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
    *@


</head>
    <body>
    <div id="_layout_html">
        <nav id="side-bar" class="navbar-default navbar-static-side" role="navigation">
            <div>
                <ul class="metismenu nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img class="img-circle" src="~/Assets/img/profile_small.jpg" alt="image" />
                            </span>
                            <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    @if (Session["UserProfile"] != null)
                                    {
                                        <span class="block m-t-xs"><strong class="font-bold">@Session["UserProfile"]</strong></span>
                                        <span class="text-muted block">DVCK</span> 
                                        <b class="caret"></b>

                                    }

                                </span>
                            </a>
                            <ul class="dropdown-menu m-t-xs animated fadeInRight">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Contacts</a></li>
                                <li><a href="#">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Logout", "User")">Thoát</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">FAQ</div>
                    </li>
                    <li class="@(ViewBag.ActiveList == "active" ? "active": "")">
                        <a href="#"><i class="fa fa-edit"></i><span>FAQ Tra cứu danh sách</span><span class="fa arrow" /></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="@Url.Action("FAQ_TONG_QUAN_CAU_HOI", "FAQ")">Tổng quan câu hỏi</a>
                                <a href="@Url.Action("FAQ_DANH_SACH_CAU_HOI_YEU_THICH", "FAQ")">Danh sách yêu thích</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(ViewBag.Admin == "active" ? "active": "")">
                        <a href="#"><i class="fa fa-user-o"></i><span>FAQ Quản trị viên</span><span class="fa arrow" /></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="@Url.Action("FAQ_CAP_DO_CAU_HOI", "FAQ")">Danh sách câu hỏi nhóm</a>
                                <a href="@Url.Action("FAQ_CAU_HOI_TRA_LOI", "FAQ")">Danh sách câu hỏi và trả lời</a>
                                <a href="@Url.Action("FAQ_THEM_MOI_CAP_DO_CAU_HOI", "FAQ")">Thêm cấp độ</a>
                                <a href="@Url.Action("FAQ_THEM_MOI_CAU_HOI_VA_TRA_LOI", "FAQ")">Thêm câu hỏi và trả lời</a>
                            </li>
                        </ul>
                    </li>
                        
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <a class="btn btn-primary" id="hideSideBar"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-right navbar-top-links">
                        <li>
                            <span class="text-muted m-r-sm">Welcome to TVSI FAQ System</span>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i><span class="label label-warning">0</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <h3 class="text-danger font-bold">Coming Soon</h3>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="#">
                                            <i class="fa fa-envelope"></i><strong> Read All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            @RenderBody()
        </div>
         
    </div>
    <script src="~/Assets/vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Assets/vendor/pace/pace.min.js"></script>
    <script src="~/Assets/vendor/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Assets/vendor/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/app.js"></script>
        
        @RenderSection("Scripts", required: false)
    </body>

