﻿@using System.Collections
@using System.Reflection.Emit
@using TVSI.Web.RSReport.Lib.Models.FAQ
@model TVSI.Web.RSReport.Lib.Models.FAQ.LevelOneModel
@{
    ViewBag.Title = "Thêm câu hỏi cấp";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="text-capitalize">Thêm cấp độ câu hỏi</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                FAQ
            </li>
            <li class="active">
                <strong>Thêm cấp độ câu hỏi</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6">
           
                            @if (TempData["AlertMessExsOne"] != null)
                            {
                                <div class="alert alert-warning">
                                    Thông báo: <a class="alert-link" href="#">@TempData["AlertMessExsOne"]</a>.
                                </div>
                            }

                            <h3 class="m-t-none m-b">
                                <p>Tạo mới câu hỏi cấp 1</p>
                            </h3>
                            @using (Html.BeginForm("FAQ_CAP_DO_CAU_HOI_CAP_1", "FAQ", FormMethod.Post))
                            {
                                @Html.ValidationSummary()
                                <div class="form-group">
                                    <div>Tên câu hỏi cấp 1 @Html.TextBoxFor(m => m.NameGroup, null, new {@class = "form-control", required = "required"})</div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit">
                                        <strong>
                                            Lưu
                                        </strong>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    @using (Html.BeginForm("FAQ_CAP_DO_CAU_HOI_CAP_2", "FAQ", FormMethod.Post))
                                    {
                                        if (TempData["AlertMessTwo"] != null)
                                        {
                                            <div class="alert alert-success">
                                                Thông báo: <a class="alert-link" href="#">@TempData["AlertMessTwo"]</a>.
                                            </div>
                                        }
                                        if (TempData["AlertMessExsited"] != null)
                                        {
                                            <div class="alert alert-warning">
                                                Thông báo: <a class="alert-link" href="#">@TempData["AlertMessExsited"]</a>.
                                            </div>
                                        }
                                        <h3 class="m-t-none m-b">
                                            <p>Tạo mới câu hỏi cấp 2</p>
                                        </h3>
                                        <p>Lựa chọn câu hỏi cấp 1</p>
                                        @Html.DropDownListFor(x => x.Id, (SelectList) ViewBag.ListLevel, "Chọn cấp độ 1",
                                            new {@class = "form-control m-b", @name = "account", @required = "true", @id = "IdTxt", title = "Chọn cấp độ 1"})
                                        <div>Tên câu hỏi @Html.TextBoxFor(m => m.NameGroup, null, new {@class = "form-control", required = "required"})</div>
                                        <br>
                                        <div>
                                            <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit">
                                                <strong>
                                                    Lưu
                                                </strong>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

@section Scripts{
    <script src="~/Assets/js/plugins/toastr/toastr.min.js"></script>

    <script>
    $(document).ready(function (){
    	
    	let check = '@TempData["AlertMess"]';
    	if (check != null && check != ''){
    		console.log(check);
    		  toastr.success('Thêm nhóm câu hỏi thành công.','Thêm mới thành công!')
    	}
    })
    </script>
}

