﻿@using System.Reflection.Emit
@using TVSI.Web.RSReport.Lib.Models.FAQ
@model TVSI.Web.RSReport.Lib.Models.FAQ.FAQLevelTwoModel
@{
    ViewBag.Title = "Thêm câu hỏi và trả lời";
}
<style>
    .bootstrap-tagsinput{
    width: -webkit-fill-available;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="text-capitalize">Thêm cấp câu hỏi và trả lời</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                FAQ
            </li>
            <li class="active">
                <strong>Thêm cấp câu hỏi và trả lời</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">

<div class="ibox-content m-b-sm border-bottom">
    <div class="text-center p-lg">
        <h2>Thêm câu hỏi và trả lời</h2>
        <span>Thêm câu hỏi và lựa chọn</span>
        <a data-toggle="collapse" href="#faq">
            <button title="Create new cluster" class="btn btn-primary btn-sm ">
                <i class="fa fa-plus"></i> Thêm câu hỏi
            </button>
        </a>
        <div id="faq" class="panel-collapse collapse in">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-content" style="text-align: left">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @using (@Html.BeginForm("FAQ_THEM_MOI_CAU_HOI_VA_TRA_LOI","FAQ",FormMethod.Post,new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary()
                                            <div class="form-group">
                                                <label>Lựa chọn nhóm câu hỏi cấp 2</label>
                                                @Html.DropDownListFor(x => x.Id, (SelectList) ViewBag.ListLevelTwo, "Chọn nhóm câu hỏi cấp 2",
                                                    new {@class = "form-control m-b questionleveltwo", @name = "account", @required = "true", @id = "IdTxt", title = "Chọn nhóm câu hỏi cấp 2"})
                                            </div>
                                            <div class="form-group">
                                                <label>nhóm câu hỏi 1</label>
                                                @Html.TextBoxFor(m => m.GroupName, null, new {@class = "form-control", required = "required", @readonly = true})
                                            </div>
                                        
                                            <div class="form-group">
                                                <label>Thêm câu hỏi</label>
                                                @Html.TextBoxFor(m => m.Question, null, new {@class = "form-control", required = "required"})
                                            </div>               
                                            <div class="form-group">
                                                <label>Thêm câu trả lời</label>
                                                @Html.TextAreaFor(m => m.Answer,new {@class = "form-control", required = "required",@rows = 8})  
                                            </div>
                                            <div class="form-group">
                                                <label>Thêm Hashtag</label>
                                                @Html.TextBoxFor(m => m.Hashtag, null, new {@class = "tagsinput  form-control"})
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-file">
                                                    <label for="file" class="custom-file-label">Choose file...</label>
                                                    @Html.TextBoxFor(m => m.File, null, new {@class = "custom-file-input  form-control", @type = "file", @id = "file"})
                                                </div>
                                            </div>
                                            
                                            <div>
                                                <button class="btn btn-sm btn-primary float-right m-t-n-xs" id="submit-form-faq" type="submit">
                                                    <strong>Lưu</strong>
                                                </button>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
@section Scripts{

    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.js"></script>
    <script src="~/Assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Assets/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/Assets/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    
        <!-- Custom and plugin javascript -->
        <script src="~/Assets/js/inspinia.js"></script>
        <script src="~/Assets/js/plugins/pace/pace.min.js"></script>
    
    <!-- Jasny -->
        <script src="~/Assets/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    
        <!-- DROPZONE -->
        <script src="~/Assets/js/plugins/dropzone/dropzone.js"></script>
    
        <!-- CodeMirror -->
        <script src="~/Assets/js/plugins/codemirror/codemirror.js"></script>
        <script src="~/Assets/js/plugins/codemirror/mode/xml/xml.js"></script>
    <script>
        $(document).ready(function (){
            $('.tagsinput').tagsinput({
                tagClass: 'label label-warning'
            });        	
        	let check = '@TempData["Success"]';
        	if (check != null && check != ''){
        		  toastr.success('Thêm nhóm câu hỏi thành công.','Thêm mới thành công!')
        	}
        	$("form").bind("keypress", function (e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });   
        });
        </script>
    <script>
      $(".questionleveltwo").change(function (){
                   $.ajax({
                             url: '@Url.Action("GetGroupNameLevelOne", "FAQ")',
                             data: {
                                 id: $(this).val()                          
                             },
                                 type: 'GET',
                             success: function (result) {
                             	if (result.status == 1){
                             		$("#GroupName").val(result.data)
                             	}
                             },
                             failure: function (response) {
                                 console.log(response.responseText);
                             },
                             error: function (response) {
                                 console.log(response.responseText);
                             }
                         });     	
                        })
    </script>
}