@using System.Collections
@using System.Reflection.Emit
@using TVSI.Web.RSReport.Lib.Models.FAQ
@model TVSI.Web.RSReport.Lib.Models.FAQ.LevelOneModel
@{
    ViewBag.Title = "Thêm câu hỏi cấp";
}
<style>
    .input-group-btn{
    font-size: 13px;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="text-capitalize">Thêm cấp độ câu hỏi</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                FAQ
            </li>
            <li class="active">
                <strong>Thêm cấp độ câu hỏi</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-title" style="border-bottom: 1px solid #e7eaec;">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Danh sách câu hỏi cấp độ</h5>
                    </div>
                </div>
                <div class="row">

                    @using (@Html.BeginForm("FAQ_CAP_DO_CAU_HOI", "FAQ", FormMethod.Get))
                    {
                        <div class="col-md-11">
                            @Html.TextBoxFor(m => m.KeySearch, null, new {@class = "form-control-sm form-control", @placeholder = "Search", @type = "text"})
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-sm btn-primary"> Search!!!</button>

                        </div>
                    }

                </div>

            </div>
            @{
                if (ViewBag.FAQLevelTwo != null)
                {
                    IEnumerable<LevelTwoModel> levelTwo = ViewBag.FAQLevelTwo as IEnumerable<LevelTwoModel>;
                    foreach (var item in levelTwo)
                    {
                        <div class="faq-item" id="faq-item-one">
                           <div class="row">
                                <div class="col-md-6">
                                    <a data-toggle="collapse" href="#@item.Id" class="faq-question">@item.NameGroupA</a>
                                    <small>Thêm bởi <strong>@item.CreateBy</strong> <i class="fa fa-clock-o"></i> @item.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")</small>
                                </div>
                                <div class="col-md-3">
                                    <span class="small font-bold">Category</span>
                                    <div class="tag-list">
                                        <span class="tag-item">@item.NameGroupB</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <span class="small font-bold"></span>
                                    <div class="tag-list">
                                        <div class="project-actions">
                                            <input type="hidden" value="@item.Id" id="faq-level-two" name="faqleveltwo">
                                            <button data-toggle="collapse" href="#@item.Id" class="btn btn-info float-right btn-sm "><i class="fa fa-search"></i> View </button>
                                            <button data-toggle="modal" href="#@item.Id@item.Id" class="btn btn btn btn-warning float-right btn-sm edit-faq"><i class="fa fa-pencil"></i> Edit </button>
                                            <button class="btn btn-danger float-right btn-sm delete-faq"><i class="fa fa-trash-o"></i> Delete </button>
                                        </div>
                                        <div>
                                            
                                            <div class="modal inmodal" id="@item.Id@item.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content animated fadeIn">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                                            </button>
                                                            <i class="fa fa-file-text-o modal-icon"></i>
                                                            <h4 class="modal-title">Chỉnh sửa câu hỏi nhóm 2</h4>
                                                        </div>
                                                        @using (@Html.BeginForm("FAQ_UPDATE_LEVEL_TWO","FAQ",FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.ValidationSummary()
                                                            <div class="modal-body">
                                                                <p>
                                                                    <div class="form-group">
                                                                        <label>Câu hỏi nhóm 2</label>
                                                                        @Html.TextBoxFor(m => m.Id, null, new {@class = "form-control",@placeholder ="Chỉnh sửa câu hỏi nhóm 2", @type = "hidden",@required = "required",@Value = @item.Id})
                                                                        @Html.TextBoxFor(m => m.NameGroup, null, new {@class = "form-control",@placeholder ="Chỉnh sửa câu hỏi nhóm 2", @type = "text",@required = "required",@Value = @item.NameGroupA})
                                                                    </div>
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="col-md-6">
                                                                    <button type="button" class="btn btn-white pull-left" data-dismiss="modal">Close</button>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <button type="submit" class="ladda-button btn btn-primary pull-right" data-style="expand-right">Save!!!</button>
                                                                </div>
                                                            </div>   
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="@item.Id" class="panel-collapse collapse ">
                                        <div class="faq-answer">
                                            <p>
                                                @item.NameGroupB
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                if (ViewBag.FAQLevelTwoPage > 0)
                {
                    <a href="@Url.Action("FAQ_CAP_DO_CAU_HOI", new {page = ViewBag.FAQLevelTwoPage - 1, keysearch = Model.KeySearch})"
                       class="btn btn-default">
                        &laquo; Prev
                    </a>
                }
                if (ViewBag.FAQLevelTwoPage < ViewBag.FAQLevelTwoMaxPage)
                {
                    <a href="@Url.Action("FAQ_CAP_DO_CAU_HOI", new {page = ViewBag.FAQLevelTwoPage + 1, keysearch = Model.KeySearch})"
                       class="btn btn-default">
                        Next &raquo;
                    </a>
                }
            }
        </div>
    </div>
</div>
@section Scripts
{
    <!-- Sweet Alert -->
    <!-- Ladda style -->
    <link href="~/Assets/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
    <link href="~/Assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="~/Assets/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Ladda -->
    <script src="~/Assets/js/plugins/ladda/spin.min.js"></script>
    <script src="~/Assets/js/plugins/ladda/ladda.min.js"></script>
    <script src="~/Assets/js/plugins/ladda/ladda.jquery.min.js"></script>
    <script>
    $(document).ready(function (){
    	
             Ladda.bind( '.ladda-button',{ timeout: 2000 });
     
             // Bind progress buttons and simulate loading progress
             Ladda.bind( '.progress-demo .ladda-button',{
                 callback: function( instance ){
                     var progress = 0;
                     var interval = setInterval( function(){
                         progress = Math.min( progress + Math.random() * 0.1, 1 );
                         instance.setProgress( progress );
     
                         if( progress === 1 ){
                             instance.stop();
                             clearInterval( interval );
                         }
                     }, 200 );
                 }
             });   	
             let success = '@TempData["SUCCESS"]';
             if (success == 1){
             	 swal("Updated!", "Dữ liệu đã được cập nhật.", "success");                               		
             }
             if(success == 99){
                 swal ( "Oops" ,  "Có lỗi xảy ra liên hệ Admin!" ,  "error" )

             }
    	
    });
     $('button.delete-faq').click(function () {
     	          let id = $(this).closest("div.project-actions").find("input[name='faqleveltwo']").val();
                swal({
                            title: "Bạn có chắc?",
                            text: "Bạn xóa nhóm câu hỏi này sẽ mất vĩnh viễn!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Có, đồng ý xóa!",
                            cancelButtonText: "Không, hủy!",
                            closeOnConfirm: false,
                            closeOnCancel: false },
                        function (isConfirm) {
                            if (isConfirm) {    
                            	if (id != undefined || id != null || id != ""){
                            		FAQDelete(id);
                            	}
                            } else {
                                swal("Cancelled", "Dữ liệu đã an toàn :)", "error");
                            }
                        });
            });
     
                    function FAQDelete(id) {
                             $.ajax({
                                 url: '@Url.Action("FAQ_DELETE_FAQ_LEVEL_TWO", "FAQ")',
                                 data: {
                                     id: id                            
                                 },
                                     type: 'POST',
                                 success: function (result) {
                                 	if (result.status = 1){
                                 		swal("Deleted!", "Dữ liệu đã được xóa.", "success");                               		
                                 		setTimeout(function(){
                                 		window.location.href = result.url;
                                        },5000);
                                 	}
                                 	else{
                                 		swal ( "Oops" ,  "Có lỗi xảy ra liên hệ Admin!" ,  "error" )
                                 	}
                                 },
                                 failure: function (response) {
                                     console.log(response.responseText);
                                 },
                                 error: function (response) {
                                     console.log(response.responseText);
                                 }
                             });
                         }
   function simpleLoad(btn, state) {
             if (state) {
                 btn.children().addClass('fa-spin');
                 btn.contents().last().replaceWith(" Loading");
             } else {
                 setTimeout(function () {
                     btn.children().removeClass('fa-spin');
                     btn.contents().last().replaceWith(" Refresh");
                 }, 2000);
             }
         }                        
     
    </script>
}
