@using System.Collections
@using System.ComponentModel
@using System.Web.Mvc.Html
@using OfficeOpenXml.FormulaParsing.Excel.Functions.DateTime
@using TVSI.Web.RSReport.Lib.Models.FAQ
@model TVSI.Web.RSReport.Lib.Models.FAQ.FAQModel
@{
    ViewBag.Title = "Thêm câu hỏi và trả lời";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="text-capitalize">Danh sách câu hỏi và trả lời</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                FAQ
            </li>
            <li class="active">
                <strong>Danh sách câu hỏi và trả lời</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
<div class="ibox-title" style="border-bottom: 1px solid #e7eaec;">
    <div class="row">
        <div class="col-md-6">
            <h5>Danh sách câu hỏi cấp độ</h5>
        </div>
    </div>
    <div class="row">

        @using (@Html.BeginForm("FAQ_CAU_HOI_TRA_LOI", "FAQ", FormMethod.Get))
        {
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.KeySearch, null, new {@class = "form-control-sm form-control", @placeholder = "Search", @type = "text"})
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-sm btn-primary"> Search!!!</button>

            </div>
        }

    </div>

</div>
@if (ViewBag.ListDataFAQ != null)
{
    IEnumerable<FAQModel> listData = ViewBag.ListDataFAQ as IEnumerable<FAQModel>;
    if (listData != null)
    {
        foreach (var item in listData)
        {
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-5">
                        <a data-toggle="collapse" href="#@item.id" class="faq-question">@item.QuestionName</a>
                        <small>Thêm bởi <strong>@item.CreateBy</strong> <i class="fa fa-clock-o"></i> @item.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")</small>
                    </div>
                    <div class="col-md-4">
                        <span class="small font-bold">Category</span>
                        <div class="tag-list">
                            <span class="tag-item">@item.GroupNameA</span>
                            <span class="tag-item">
                                <i class="fa fa-arrow-right"></i>
                            </span>
                            <span class="tag-item">@item.GroupNameB</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="project-actions">
                            <input type="hidden" value="@item.id" id="faq-question-answer" name="faq-question-answer">
                            <button data-toggle="collapse" href="#@item.id" class="btn btn-info float-right btn-sm "><i class="fa fa-search"></i> View </button>
                            <button data-toggle="modal" href="#@item.id@item.id" class="btn btn btn btn-warning float-right btn-sm edit-faq"><i class="fa fa-pencil"></i> Edit </button>
                            <button class="btn btn-danger float-right btn-sm delete-faq"><i class="fa fa-trash-o"></i> Delete </button>
                        </div>
                        <div class="modal inmodal" id="@item.id@item.id" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated fadeIn">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                        <i class="fa fa-file-text-o modal-icon"></i>
                                        <h4 class="modal-title">Chỉnh sửa câu hỏi và trả lời</h4>
                                    </div>
                                    @using (@Html.BeginForm("FAQ_UPDATE_QUESTION_AND_ASWER", "FAQ", FormMethod.Post, new {enctype = "multipart/form-data"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary()
                                        <div class="modal-body">
                                            <p>
                                                <div class="form-group">
                                                    <label>Câu hỏi nhóm 2</label>
                                                    @Html.TextBoxFor(m => m.id, null, new {@class = "form-control", @type = "hidden", @required = "required", @Value = @item.id})
                                                    @Html.TextBoxFor(m => m.FileID, null, new {@class = "form-control", @type = "hidden", @required = "required", @Value = @item.FileID})
                                                </div>
                                                <div class="form-group">
                                                    <label>Lựa chọn nhóm câu hỏi cấp 2</label>
                                                    @Html.DropDownListFor(m => m.Id_B, new SelectList(ViewBag.ListLevelTwo, "Value", "Text", @item.Id_B), "Chọn nhóm câu hỏi cấp 2",
                                                        new {@class = "form-control m-b", @required = "true", @id = "Id_B", title = "Chọn nhóm câu hỏi cấp 2"})
                                                </div>
                                                <div class="form-group">
                                                    <label>Câu hỏi</label>
                                                    @Html.TextBoxFor(m => m.QuestionName, null, new {@class = "form-control", @placeholder = "Chỉnh sửa câu hỏi nhóm 2", @type = "text", @required = "required", @Value = @item.QuestionName})
                                                </div>
                                                <div class="form-group">
                                                    <label>Câu trả lời</label>
                                                    <textarea class="form-control" cols="20" id="Answer" name="Answer" required="required" rows="8">@item.Answer</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Hashtag</label>
                                                    @Html.TextBoxFor(m => m.Hashtag, null, new {@class = "form-control tagsinput", @placeholder = "Hashtag", @type = "text", @Value = @item.Hashtag})
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <label for="file" class="custom-file-label">Choose file...</label>
                                                        @Html.TextBoxFor(m => m.File, null, new {@class = "form-control", @type = "file", @id = "file"})
                                                        @if (@item.FileID != null)
                                                        {
                                                            if (ViewBag.FileName != null)
                                                            {
                                                                var files = ViewBag.FileName as IEnumerable<FAQFileName>;
                                                                foreach (var file in files)
                                                                {
                                                                    if (item.FileID == file.id)
                                                                    {
                                                                        <li>
                                                                            <i class="fa fa-file "></i>
                                                                            @Html.ActionLink(file.FileName, "DownloadFile", new {filename = @file.FileName}, new
                                                                            {
                                                                            })
                                                                        </li>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-white pull-left" data-dismiss="modal">Close</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="ladda-button btn btn-primary pull-right" data-style="expand-right">Save!!!</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="@item.id" class="panel-collapse collapse ">
                            <div class="faq-answer">
                                <p>
                                    @item.Answer
                                </p>
                            </div>

                            @if (@item.Hashtag != null)
                            {
                                <span class="small font-bold">Tag</span>
                                <div class="faq-answer">
                                    <div class="tag-list">
                                        @{
                                            var values = item.Hashtag.Split(',');
                                            foreach (var tag in values)
                                            {
                                                <span class="label label-info" style="margin-left: 5px">
                                                    <i class="fa fa-tags" style="font-size: 13px"></i>
                                                    <span style="font-size: 12px">@tag</span>
                                                </span>
                                            }
                                        }

                                    </div>
                                </div>
                            }
                            @if (@item.FileID > 0)
                            {
                                <div class="faq-answer">
                                    <ul class="list-unstyled file-list" style="width: max-content">

                                        <span class="small font-bold">Attach file</span>

                                        @if (ViewBag.FileName != null)
                                        {
                                            var files = ViewBag.FileName as IEnumerable
                                                <FAQFileName>;
                                            foreach (var file in files)
                                            {
                                                if (item.FileID == file.id)
                                                {
                                                    <li>
                                                        <i class="fa fa-file "></i>
                                                        @Html.ActionLink(file.FileName, "DownloadFile", new {filename = @file.FileName}, new
                                                        {
                                                        })
                                                    </li>
                                                }
                                            }
                                        }


                                    </ul>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        }
    }
    if (ViewBag.FAQPage > 0)
    {
        <a href="@Url.Action("FAQ_CAU_HOI_TRA_LOI", new {Page = ViewBag.FAQPage - 1, KeySearch = Model != null ? Model.KeySearch : ""})"
           class="btn btn-default">
            &laquo; Prev
        </a>
    }
    if (ViewBag.FAQPage < ViewBag.FAQMaxPage)
    {
        <a href="@Url.Action("FAQ_CAU_HOI_TRA_LOI", new {Page = ViewBag.FAQPage + 1, KeySearch = Model != null ? Model.KeySearch : ""})"
           class="btn btn-default">
            Next &raquo;
        </a>
    }
}
</div>

@section Scripts{
    <!-- Sweet Alert -->
    <!-- Ladda style -->
    <link href="~/Assets/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
    <link href="~/Assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="~/Assets/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Ladda -->
    <script src="~/Assets/js/plugins/ladda/spin.min.js"></script>
    <script src="~/Assets/js/plugins/ladda/ladda.min.js"></script>
    <script src="~/Assets/js/plugins/ladda/ladda.jquery.min.js"></script>
    <script src="~/Assets/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <script>
            $('.tagsinput').tagsinput({
                tagClass: 'label label-warning'
            });      
         	$("form").bind("keypress", function (e) {
                 if (e.keyCode == 13) {
                     return false;
                 }
             });             
             Ladda.bind( '.ladda-button',{ timeout: 2000 });
     
             // Bind progress buttons and simulate loading progress
             Ladda.bind( '.progress-demo .ladda-button',{
                 callback: function( instance ){
                     var progress = 0;
                     var interval = setInterval( function(){
                         progress = Math.min( progress + Math.random() * 0.1, 1 );
                         instance.setProgress( progress );
     
                         if( progress === 1 ){
                             instance.stop();
                             clearInterval( interval );
                         }
                     }, 200 );
                 }
             });   	
             let success = '@TempData["SUCCESS"]';
             if (success == 1){
             	 swal("Updated!", "Dữ liệu đã được cập nhật.", "success");                               		
             }
             if(success == 99){
                 swal ( "Oops" ,  "Có lỗi xảy ra liên hệ Admin!" ,  "error" )

             }
       $('button.delete-faq').click(function () {
       	          let id = $(this).closest("div.project-actions").find("input[name='faq-question-answer']").val();
       	          console.log(id);
                  swal({
                              title: "Bạn có chắc?",
                              text: "Bạn xóa nhóm câu hỏi này sẽ mất vĩnh viễn!",
                              type: "warning",
                              showCancelButton: true,
                              confirmButtonColor: "#DD6B55",
                              confirmButtonText: "Có, đồng ý xóa!",
                              cancelButtonText: "Không, hủy!",
                              closeOnConfirm: false,
                              closeOnCancel: false },
                          function (isConfirm) {
                              if (isConfirm) {    
                              	if (id != undefined || id != null || id != ""){
                              		FAQDelete(id);
                              	}
                              } else {
                                  swal("Cancelled", "Dữ liệu đã an toàn :)", "error");
                              }
                          });
              });    
                    function FAQDelete(id) {
                             $.ajax({
                                 url: '@Url.Action("FAQ_QUESTION_AND_ANSWER", "FAQ")',
                                 data: {
                                     id: id                            
                                 },
                                     type: 'POST',
                                 success: function (result) {
                                 	if (result.status = 1){
                                 		swal("Deleted!", "Dữ liệu đã được xóa.", "success");                               		
                                 		setTimeout(function(){
                                 		window.location.href = result.url;
                                        },3000);
                                 	}
                                 	else{
                                 		swal ( "Oops" ,  "Có lỗi xảy ra liên hệ Admin!" ,  "error" )
                                 	}
                                 },
                                 failure: function (response) {
                                     console.log(response.responseText);
                                 },
                                 error: function (response) {
                                     console.log(response.responseText);
                                 }
                             });
                         }             
        </script>

}