@using System.Collections
@using System.Reflection.Emit
@using TVSI.Web.RSReport.Lib.Models.FAQ

@{
    ViewBag.Title = "Thêm câu hỏi cấp";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="text-capitalize">Tổng quan câu hỏi</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                FAQ
            </li>
            <li class="active">
                <strong>Tổng quan câu hỏi</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <strong>Tổng quan các câu hỏi theo cấp độ</strong>
                    </div>
                    <div class="ibox-content">
                        <div class="input-group search-question-all" style="margin:  10px 0 20px 0">
                            <input type="text" placeholder="Tìm kiếm tất cả câu hỏi" class="form-control-sm form-control" name="keysearchall" id="keysearchall">
                            <span class="input-group-btn" style="font-size: unset;">
                                <button type="button" class="btn btn btn-primary" id="search-all"> <i class="fa fa-search"></i> Search all</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Câu hỏi các cấp</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
    
                        <div id="jstree1">
                            <ul>
                                @if (ViewBag.FAQLevelOne != null)
                                {
                                    IEnumerable<FAQLevelOneModel> listLevelOne = ViewBag.FAQLevelOne as IEnumerable<FAQLevelOneModel>;
                                    IEnumerable<FAQLevelTwoModel> listLevelTwo = ViewBag.FAQLevelTwo as IEnumerable<FAQLevelTwoModel>;
                                    IEnumerable<FAQLVTwoModel> listFAQ = ViewBag.FAQList as IEnumerable<FAQLVTwoModel>;
                                    
                                    foreach (var itemone in listLevelOne)
                                    {
                                        <li class="jstree-open">
                                            @itemone.GroupName
                                            <ul>
                                                @foreach (var itemtwo in listLevelTwo)
                                                {
                                                    if (itemtwo.Id_A == itemone.Id)
                                                    {
                                                        <li value="@itemtwo.Id">
                                                            @itemtwo.GroupName
                                                            @if ((@listFAQ.Count(m => m.Id_B == @itemtwo.Id)) > 0)
                                                            {
                                                                <span class="label label-info float-right">(@listFAQ.Count(m => m.Id_B == @itemtwo.Id))</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-warning float-right">(@listFAQ.Count(m => m.Id_B == @itemtwo.Id))</span>

                                                            }
                                                        </li>
                                                    }
                                                }
                                                </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Câu trả lời</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="input-group search-question" style="margin:  10px 0 20px 0">
                            <input type="hidden" value="" name="id" id="id-question">
                            <input type="text" placeholder="Tìm kiếm câu hỏi trong mục" class="form-control-sm form-control" name="keysearch" id="keysearch">
                            <span class="input-group-btn" style="font-size: unset;">
                                <button type="submit" class="btn btn-sm btn-primary" id="btn-search-faq"> Search!!!</button>
                            </span>
                        </div>
                        <div class="resultquestion"></div>
                                        
                    </div>
                </div>
            </div>
        </div>
</div>
<style>
    .jstree-open > .jstree-anchor > .fa-folder:before {
        content: "\f07c";
    }

    .jstree-default .jstree-icon.none {
        width: 0;
    }
</style>
@section Scripts
{
    <script src="~/Assets/js/plugins/jsTree/jstree.min.js"></script>
    <script src="~/Assets/js/plugins/pace/pace.min.js"></script>
    <script src="~/Assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Assets/css/bootstrap.min.css"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $("#jstree1").on("click", "li > a", function() {
            var id = $(this).closest("li").attr("value");
            $(this).siblings(".jstree-icon").click();
            LoadGetList(id); 
        });
        $("#btn-search-faq").click(function (){
        	let id = $("#id-question").val();
        	let keysearch = $("#keysearch").val();
        	SearchFAQLists(id,keysearch);
        });
        $("#search-all").click(function (){
          let keysearch = $("#keysearchall").val();
          SearchFAQLists(0,keysearch);
        });
        
               function LoadGetList(id) {
                        $.ajax({
                            url: '@Url.Action("FAQGetListInfo", "FAQ")',
                            data: {
                                id: id                            
                            },
                                type: 'POST',
                            success: function (result) {
                                $('.resultquestion').html(result);
                                let id = $("#id-level-two").val();
                                $("#id-question").val(id);
                            },
                            failure: function (response) {
                                console.log(response.responseText);
                            },
                            error: function (response) {
                                console.log(response.responseText);
                            }
                        });
                    }
               function SearchFAQLists(id,keysearch) {
                        $.ajax({
                            url: '@Url.Action("FAQ_SearchFAQ", "FAQ")',
                            data: {
                                id: id,
                                keysearch:keysearch                           
                            },
                                type: 'GET',
                            success: function (result) {
                            	console.log(result);
                                $('.resultquestion').html(result);
                                let id = $("#id-level-two").val();
                                $("#id-question").val(id);
                            },
                            failure: function (response) {
                                console.log(response.responseText);
                            },
                            error: function (response) {
                                console.log(response.responseText);
                            }
                        });
                    }      
                    
    </script>
    <script>
     $(document).ready(function(){
         $('#jstree1').jstree({
             'core' : {
                 'check_callback' : true
             },
             'plugins' : [ 'types', 'dnd' ],
             'types' : {
                 'default' : {
                     'icon' : 'fa fa-folder'
                 },
                 'html' : {
                     'icon' : 'fa fa-file-code-o'
                 },
                 'svg' : {
                     'icon' : 'fa fa-file-picture-o'
                 },
                 'css' : {
                     'icon' : 'fa fa-file-code-o'
                 },
                 'img' : {
                     'icon' : 'fa fa-file-image-o'
                 },
                 'js' : {
                     'icon' : 'fa fa-file-text-o'
                 }
 
             }
         });
 
     });
 </script>
}

