﻿@{
    ViewBag.Title = "Báo cáo Thông Tin Phát Hành Cổ Phiếu";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2 class="text-capitalize">Báo cáo Thông Tin Phát Hành Cổ Phiếu</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                Báo cáo
            </li>
            <li class="active">
                <strong>Báo cáo Thông Tin Phát Hành Cổ Phiếu</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5 text-left">Mã chứng khoán</label>
                <div class="col-md-4">
                    <input type="text" name="txtCode" id="txtCode" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5 text-left">Từ ngày</label>
                <div class="col-md-4">
                    <input type="text" name="fromDate" id="fromDate" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5 text-left">Đến ngày</label>
                <div class="col-md-4">
                    <input type="text" name="toDate" id="toDate" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 text-center">
            <button class="btn btn-primary" type="button" id="btnExport"><strong>Export Excel</strong></button>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        $(document).ready(new function () {

            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd/mm/yyyy'
            });

            $('#data_2 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd/mm/yyyy'
            });

            $('#btnExport').on('click', function () {
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var code = $("#txtCode").val();

                document.location.href = "/Report/ExportPhatHanhCP?code=" + code + "&fromDate=" + fromDate + "&toDate=" + toDate;
            });

        });
    </script>
}
