﻿@{
    ViewBag.Title = "Báo cáo dữ liệu tổng hợp - ALL DATA - TVSI_sRS_All_Data_Bank";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2 class="text-capitalize">Báo cáo dữ liệu tổng hợp các công ty ngân hàng</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                Báo cáo
            </li>
            <li class="active">
                <strong>Báo cáo dữ liệu tổng hợp các công ty ngân hàng</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5 text-left">Quý</label>
                <div class="col-md-4">
                    <input type="text" name="lengthReport" id="lengthReport" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row form-group">
                <label class="col-md-3 m-t-5 text-left">Năm</label>
                <div class="col-md-4">
                    <input type="text" name="yearReport" id="yearReport" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 text-center">
            <button class="btn btn-primary" type="button" id="btnExport"><strong>Export Excel</strong></button>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        $(document).ready(new function () {
            $('#btnExport').on('click', function () {
                var lengthReport = $("#lengthReport").val();
                var yearReport = $("#yearReport").val();
                document.location.href = "/Report/ExportAllDataBank?lengthReport=" + lengthReport + "&yearReport=" + yearReport;
            });
        });
    </script>
}
