﻿@model TVSI.Web.RSReport.Lib.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HỆ THỐNG FAQ</title>

    <link href="~/Assets/css/jqueryBxslider.css" rel="stylesheet" />
    <link href="~/Assets//css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets//css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>

<body style="margin:0 0 0 0;">
    <div align="center">
        <div class="login-area">
            <div>
                <img src="https://www.tvsi.com.vn/images/logo.svg?v=1.1" alt="Logo TVSi" />
            </div>
            <div class="login-box" id="loginDiv">
                <div class="">
                    <h4 class="login-header">Welcom TVSI-FAQ </h4>
                </div>
                @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal login-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                   <span style="font-style:italic;color:#ff0000">@Html.ValidationSummary()</span>
                    <div class="control-group">
                        <div class="">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                        </div>
                    </div>
                    <div class="control-group signin-button">
                        <div class="" id="forgotPassword">
                            <button type="submit" class="btn btn-primary sbutton">Đăng nhập</button>
                            &nbsp;&nbsp;&nbsp;<a style="font-size: 13px;">Quên mật khẩu?</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="footer-content"><small>© 2020.&nbsp;Phát triển bởi: <a target="_blank" href="http://www.tvsi.com.vn/">www.tvsi.com.vn</a></small></div>


</body>


</html>
